extends layout
block content
  h1= title
  - var results = [{shoeSize:"cricket_ball", shoeType:100, shoeBrand:250}, {shoeSize:"basket_ball", shoeType:200, shoeBrand:2000}, {shoeSize:"base_ball", shoeType:150, shoeBrand:2300}];

  div(class = "container-fluid")
    div(class = "row")
      each s,index in results 
        div(class = "col-sm-2" onclick = `buy(${index})`) Size: #{s.shoeSize} <br/> Type: #{s.shoeType} <br/> Brand: #{s.shoeBrand}

  script.
    function buy(x)
    { 
        alert(`You purchased item ${x}`)
    }
